<style type="text/css">

.usernameheader h1 {
  font: 60px "nimbus","HelveticaNeue-CondensedBold","Helvetica Neue","Arial Black",Arial,"Lucida Grande",sans-serif;
  margin-top: 0;
  color: white;
}

</style>


<div class="container">
  <div class="row">
    <aside class="span4">
      <section>
          <%= gravatar_for @user %>
        <div class="usernameheader"><h1>
          <%= @user.full_name %>
        </h1></div>
        <div class="span4 pull-right">
          <h3>Amount in Account:</h3>
          <center><h4>$<%= @user.money %></h4></center>
          <center><%= link_to "Deposit Money", new_charge_path, class: "btn btn-success btn-lg" %></center>
        </div>
        <p style="color: #accf1f; font-size:20px;">Member Since: <%= @user.created_at.strftime('%d %b, %Y') %></p>
        <% if current_user.username == params[:id] %>
          <a href="/users/edit">Edit Profile</a>
        <% end %>
      </section>
    </aside>
  </div>
  <% if current_user.username == params[:id] %>
    <h1>My Games</h1><br />
  <% else %>
    <h1><%= "#{@user.username}" %>'s Games</h1><br />
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="table-scroll-profile">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>SPORT</th>
              <th>CONTEST</th>
              <th>PRIZES</th>
              <th>BUY-IN</th>
              <th>START TIME</th>
              <% if current_user.username == params[:id] %>
                <th>EDIT</th>
              <% end %>
              <th>LOCKS IN</th>
            </tr>
          </thead>
          <tbody>
            <% @games.each do |game| %>
              <tr>
                <% if game.sport.include? ("MLB") %>
                <td><span class="mlb-icon" title="MLB"></span></td>
              <% elsif game.sport.include? ("Baseball") %>
                <td><span class="mlb-icon" title="MLB"></span></td>
              <% elsif game.sport.include? ("NBA")  %>
                <td><span class="nba-icon" title="NBA"></span></td>
              <% elsif game.sport.include? ("Basketball") %>
                <td><span class="nba-icon" title="NBA"></span></td>
              <% end %>

              <td><%= link_to "#{game.sport}", "#game#{game.id}", :data => {:toggle => "modal"}, :game => game %></td>
                <td><%= game.number_to_currency(game.prizes) %></td>
                <td><%= game.number_to_currency(game.buy_in) %></td>
                <td><%= game.start_time.strftime('%d %b, %Y - %I:%M%p (CST)') %></td>
                <% now = DateTime.now %>
                <% if now < game.start_time %>
                  <% if current_user.username == params[:id] %>
                    <td id="countdown-hide-game"><%= link_to 'Edit', games_show_path({:id => game.id}) %></td>
                  <% end %>
                  <td id="countdown-show-game"><a href="games/live?id=<%= game.id %>">Watch</a></td>
                  <td id="countdown-game-started"><div class="game-countdown" data-start-time="<%= game.start_time.to_i %>"></div></td>
                <% else %>
                  <td><a href="games/live?id=<%= game.id %>">Watch</a></td>
                  <td>Locked</td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= render 'games/countdown_script' %>
