<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.full_name %>
      </h1>
      <p>Member Since: <%= @user.created_at.strftime('%d %b, %Y') %></p>
      <a href="/users/edit">Edit Profile</a>
    </section>
  </aside>
</div>

<h1>My Games</h1><br />

<div class="row">
  <div class="col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>SPORT</th>
          <th>BUY-IN</th>
          <th>START TIME</th>
          <th>EDIT</th>
          <th>LOCKS IN</th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <tr>
            <td><%= game.sport %></td>
            <td><%= game.number_to_currency(game.buy_in) %></td>
            <td><%= game.start_time.strftime('%d %b, %Y - %I:%M%p (CST)') %></td>
            <%= render 'games/countdown_cols', :game => game, :link_text => 'Edit' %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'games/countdown_script' %>
