<div class="radioButton">
  <input type="radio" name="tier<%= tier_num %>" value="<%= draft_a.id %>" />
  <img src="<%= draft_a.player.picture %>">
  <%= draft_a.player.player_name %>
</div>

<div class="radioButton">
  <input type="radio" name="tier<%= tier_num %>" value="<%= draft_b.id %>" />
  <img src="<%= draft_b.player.picture %>">
  <%= draft_b.player.player_name %>
</div>
