<style type="text/css">
tr {
	text-decoration: none;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 14px;
	color: #eee;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 0;
}

tr:nth-child(even) {
	background-color: #2e2e2e;
}

tr:nth-child(odd) {
	background-color: #232323;
}

.table tbody tr:hover td, .table tbody tr:hover th {
	background-color: #151515;
}

td a {
	color: #fcc700;
	font-weight: bold;
}

.mlb-icon {
	display: inline-block;
width: 21px;
height: 20px;
	background: transparent url("https://www.draftkings.com/_assets/images/icons/sports-sprite.png?2") 0 0 no-repeat;
}

.nba-icon {
	display: inline-block;
width: 21px;
height: 20px;
background: transparent url("https://www.draftkings.com/_assets/images/icons/sports-sprite.png?2") 0 0 no-repeat;
background-position: 0 -40px;
}

</style>

<h1>Today's Games</h1><br />

<div class="row">
	<div class="col-sm-12">
		<div class="table-scroll-main">
			<table class="table table-hover">
		  	<thead>
		  		<tr>
		  			<th>SPORT</th>
		  			<th>CONTEST</th>
		  			<th>PRIZES</th>
		  			<th>BUY-IN</th>
		  			<th>ENTRIES</th>
		  			<th>LIVE IN</th>
		  			<th>ENTER</th>
		  			<th>LOCKS IN</th>
		  		</tr>
		  	</thead>
		  	<tbody>
					<% @games.each do |game| %>
						<tr>
							<% if game.sport.include? ("MLB") %>
								<td><span class="mlb-icon" title="MLB"></span></td>
							<% elsif game.sport.include? ("Baseball") %>
								<td><span class="mlb-icon" title="MLB"></span></td>
							<% elsif game.sport.include? ("NBA")  %>
								<td><span class="nba-icon" title="NBA"></span></td>
							<% elsif game.sport.include? ("Basketball") %>
								<td><span class="nba-icon" title="NBA"></span></td>
							<% end %>

						  <td><a href=""><%= game.sport %></a></td>
						  <td><%= game.number_to_currency(game.prizes) %></td>
						  <td><%= game.number_to_currency(game.buy_in) %></td>
						  <td><%= game.entries %></td>
						  <td><%= game.start_time.strftime('%d %b, %Y - %I:%M%p (CST)') %></td>
						  <% now = DateTime.now %>
							<% if now < game.start_time %>
							  <td id="countdown-hide-game"><%= link_to 'Play', games_show_path({:id => game.id}) %></td>
	              <td id="countdown-show-game"><a href="live?id=<%= game.id %>">Watch</a></td>
	              <td id="countdown-game-started"><div class="game-countdown" data-start-time="<%= game.start_time.to_i %>"></div></td>
	            <% else %>
	              <td><a href="live?id=<%= game.id %>">Watch</a></td>
	              <td>Locked</td>
	            <% end %>
					  </tr>
					<% end %>
		  	</tbody>
			</table>
		</div>
	</div>
</div>

<%= render 'games/countdown_script' %>
