<h1>Today's Games</h1><br />

<div class="row">
	<div class="col-sm-12">
		<table class="table table-hover">
	  	<thead>
	  		<tr>
	  			<th>PRIZES</th>
	  			<th>SPORT</th>
	  			<th>BUY-IN</th>
	  			<th>ENTRIES</th>
	  			<th>START TIME</th>
	  			<th>ENTER</th>
	  			<th>LOCKS IN</th>
	  		</tr>
	  	</thead>
	  	<tbody>
				<% @games.each do |game| %>
					<tr>
					  <td><%= game.number_to_currency(game.prizes) %></td>
					  <td><%= game.sport %></td>
					  <td><%= game.number_to_currency(game.buy_in) %></td>
					  <td><%= game.entries %></td>
					  <td><%= game.start_time.strftime('%d %b, %Y - %I:%M%p (CST)') %></td>
					  <% now = DateTime.now %>
					  <% if now < game.start_time %>
						  <td><%= link_to 'Play', games_show_path({:id => game.id}) %></td>
						  <td><div class="game-countdown" data-start-time="<%= game.start_time.to_i %>"></div></td>
					  <% else %>
					  	<td>Closed</td>
					  	<td>Game has started</td>
					  <% end %>
				  </tr>
				<% end %>
	  	</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
$('.game-countdown').each(function (idx, elem) {
	var gameTimeSecondsString = $(elem).data('start-time');
	var gameTimeSecondsInteger = parseInt(gameTimeSecondsString,10);
	var gameTime = new Date(Number(gameTimeSecondsInteger) * 1000);
  $(elem).countdown({until: gameTime});
});
</script>
