<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<center><h1><%= @game.sport %></h1></center>
<div class="usersPicks">
  <p>This is just for testing purposes. Need to display this information better later.<p>
<h3>All players and stats:</h3>
  <% @userPicks.each do |player| %>
    <% pick = DraftedPlayer.where(player_id: player.id)[0] %>
    <%= player.player_name %> - Points: <%= pick.points %> - Rebounds: <%= pick.rebounds %> -Assists: <%= pick.assists %> -Blocks: <%= pick.blocks %> -Steals: <%= pick.steals %> -Turnovers: <%= pick.turnovers %> -Fantasy Points: <%= pick.fantasypoints %><br/>
  <% end %>
  <% @total = 0 %>
  <% @userPicks.each do |player| %>
    <% pick = DraftedPlayer.where(player_id: player.id)[0] %>
    <% if pick.fantasypoints != nil %>
      <% @total += pick.fantasypoints %>
    <% end %>
  <% end %>
    Total Fantasy Points: <%= @total %>
</div>

<div class="winners">
  <% if @winners != nil %>
  <h2>Winners</h2>
    <%= @winners %>
  <% end %>
</div>
<div class="opponentsPicks">
</div>


