<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://www.jacklmoore.com/colorbox/jquery.colorbox.js"></script>

<center><h1><%= @game.sport %></h1></center>
<div class="usersPicks">
  <p>This is just for testing purposes. Need to display this information better later.<p>
<h3>All players and stats:</h3>
  <% @userPicks.each do |player| %>
    <% pick = DraftedPlayer.where(player_id: player.id)[0] %>
    <%= player.player_name %> - Points: <%= pick.points %> - Rebounds: <%= pick.rebounds %> -Assists: <%= pick.assists %> -Blocks: <%= pick.blocks %> -Steals: <%= pick.steals %> -Turnovers: <%= pick.turnovers %><br/>
  <% end %>
</div>

<div class="opponentsPicks">
</div>

<div class="userList">
<h3>Users In Game</h3>
  <% @userList.each do |user| %>
    <a href="live/<%= @game.id %>/<%= user.username %>"><%= user.username %></a>
  <% end %>
</div>
