<script type="text/javascript">
  $(function() {
    var _scroll = {
      delay: 1000,
      easing: 'linear',
      items: 1,
      duration: 0.018,
      timeoutDuration: 0,
      pauseOnHover: 'immediate'
    };
    $('#ticker-1').carouFredSel({
      width: 1000,
      align: false,
      items: {
        width: 'variable',
        height: 35,
        visible: 4
      },
      scroll: _scroll
    });

    //  set carousels to be 100% wide
    $('.caroufredsel_wrapper').css('width', '100%');
  });
</script>

<style type="text/css">
tr {
  text-decoration: none;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-size: 14px;
  color: #eee;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 0;
}

tr:nth-child(even) {
  background-color: #2e2e2e;
}

tr:nth-child(odd) {
  background-color: #232323;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #151515;
}

td a {
  color: #fcc700;
  font-weight: bold;
}

.mlb-icon {
display: inline-block;
width: 21px;
height: 20px;
background: transparent url("https://www.draftkings.com/_assets/images/icons/sports-sprite.png?2") 0 0 no-repeat;
}

.nba-icon {
  display: inline-block;
width: 21px;
height: 20px;
background: transparent url("https://www.draftkings.com/_assets/images/icons/sports-sprite.png?2") 0 0 no-repeat;
background-position: 0 -40px;
}

.modal-body {
  background: transparent url("https://www.draftkings.com/_assets/images/contest-pop/popup-bg.jpg") 0 0 no-repeat;
}

.modal-content {
    border: 8px solid black;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.countdown-timer {
  padding-top: 20px;
  position: absolute;
  width: 209px;
  height: 118px;
  top: 25px;
  right: 30px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  background: transparent url("https://www.draftkings.com/_assets/images/contest-pop/countdown-bg.png") 0 0 no-repeat;
  font: 18px "Century Gothic", Arial, Helvetica, sans-serif;
  color: #fff;
}

#contest-pop-timer {
  padding: 5px 10px 12px;
  color: #ffc600;
  font-size: 28px;
}
.start-time {
  padding-top: 9px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.header-bar {
  font: 20px "nimbus","HelveticaNeue-CondensedBold","Helvetica Neue","Arial Black",Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0;
  color:white;
}

.header-bar h1 {
  margin-top: 0;
  font-size: 30px;
  margin-bottom: 0;
}

.header-bar h2 {
  font: 18px/18px "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  margin-top: 0;
}

.tabs {
  position: relative;
  height: 30px;
  background: transparent url("https://www.draftkings.com/_assets/images/contest-pop/tabs-bar.png") bottom left no-repeat;
  margin-bottom: 5px;
  padding-top: 93px;
}

.panel {
  background: transparent url("https://www.draftkings.com/_assets/images/contest-pop/panel-bg.png") 0 38px no-repeat;
  border-bottom: 1px solid #111;
  position: relative;
  margin-bottom: 0;
}

.header1 {
  height: 38px;
  position: relative;
  z-index: 1102;
  background: transparent url("https://www.draftkings.com/_assets/images/contest-pop/header-bar.png") top left no-repeat;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  margin-bottom: 0;
}

.header1 h3 {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font: 25px "nimbus","HelveticaNeue-CondensedBold","Helvetica Neue","Arial Black",Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 0;
}

.userslistitem {
  width: 100%;

  height: 30px;
}

.userslistitem:nth-child(even) {
  background-color: #232323;
}

.userslistitem:nth-child(odd) {
  background-color: #2e2e2e;
}

.userslistitem2:nth-child(even) {
  background-color: #232323;
}

.userslistitem2:nth-child(odd) {
  background-color: #2e2e2e;
}

.userslistitem2 {
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: white;
  font: 20px "nimbus","HelveticaNeue-CondensedBold","Helvetica Neue","Arial Black",Arial,"Lucida Grande",sans-serif;
}

.userslistitem23 {
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: white;
  font: 20px "nimbus","HelveticaNeue-CondensedBold","Helvetica Neue","Arial Black",Arial,"Lucida Grande",sans-serif;
}


.containerofusers {
   height: 250px; /* Fix a height here */
   overflow: auto; /* Optionally you can also use overflow: scroll; */
}

.playersList {
  width: 100%;
  height: 410px;
}

.actualPlayer {
  height: 70px;
  background: #2a6496;
  margin-bottom: 10px;
}

.playerImage img {
  height: 70px;
  float: left;
  margin-right: 15px;
}

.playerName {
  margin-top: 10px;
  text-transform: uppercase;
  color: #fff;
  font: 26px "nimbus","HelveticaNeue-CondensedBold","Helvetica Neue","Arial Black",Arial,"Lucida Grande",sans-serif;
  float: left;
}

.playerStats {
padding-top: 44px;
width: 400px;
font: 13px/13px "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

.totalFantasy {
  width:420px;
  margin-right: 0;
  height: 70px;
  font: 26px "nimbus","HelveticaNeue-CondensedBold","Helvetica Neue","Arial Black",Arial,"Lucida Grande",sans-serif;
  color:white;
}



/*NEW SCRIPT*/



#wrapper {
  width: 100%;
  margin: -100px 0 0 0;
  position: absolute;
  left: 0;
  top: 50%;
}
#wrapper h3 {
  font-size: 20px;
  text-align: center;
}

#wrapper > div {
  background-color: #232323;
  width: 100%;
  height: 60px;
  padding: 15px 0;
  overflow: hidden;
}
#wrapper > div.first {
  border-bottom: none;
}

#wrapper dl {
  display: block;
  margin: 0;
}
#wrapper dt, #wrapper dd {
  display: block;
  float: left;
  margin: 0 10px;
  padding: 5px 10px;
}
#wrapper dt {
  background-color: black;
  color: #fcc700;
}
#wrapper dd {
  color: #333;
  margin-right: 50px;
}



</style>



<!-- <head>
  <meta http-equiv="refresh" content="60">
</head> -->


<div class="container" style="height:635px;">
  <center><h1><%= @game.sport %></h1></center>

  <div class="row">
    <div class="col-md-6">
      <% if @game.sport.include? "NBA" %>
      <div class="panel">
        <div class="header1" style="z-index:0;">
        <h3>Picks</h3>
          <div class="playersList">
          <% @userPicks.each do |player| %>
            <div class="actualPlayer">
              <% pick = DraftedPlayer.where(player_id: player.id)[0] %>
              <% playerObject = Player.where(id: player.id)[0] %>
              <div class="playerImage"><img src="<%= playerObject.picture %>"></div>
              <div class="playerName"><%= player.player_name %></div>
              <div class="playerStats"><%= pick.points %> PTS, <%= pick.rebounds %> REB, <%= pick.assists %> AST, <%= pick.blocks %> BLK,  <%= pick.steals %> STL, <%= pick.turnovers %> TO, <%= pick.fantasypoints %> FP</div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <% end %>

      <% if @game.sport.include? "MLB" %>

      <div class="panel">
        <div class="header1" style="z-index:0;">
        <h3>Picks</h3>
          <div class="playersList">
          <% @userPicks.each do |player| %>
            <div class="actualPlayer">
              <% pick = DraftedPlayer.where(player_id: player.id)[0] %>
              <% playerObject = Player.where(id: player.id)[0] %>
              <% if playerObject.position == "SP" || playerObject.position == "P" || playerObject.position == "RP" %>
                <div class="playerImage"><img src="<%= playerObject.picture %>"></div>
                <div class="playerName"><%= player.player_name %></div>
                <div class="playerStats"><%= pick.points %> Strikeouts, <%= pick.rebounds %> Hits, <%= pick.assists %> Homeruns, <%= pick.fantasypoints %> FP</div>
                </div>
              <% else %>
              <div class="playerImage"><img src="<%= playerObject.picture %>"></div>
              <div class="playerName"><%= player.player_name %></div>
              <div class="playerStats"><%= pick.points %> Homeruns, <%= pick.rebounds %> RBI, <%= pick.assists %> Runs, <%= pick.blocks %> Stike Outs,  <%= pick.steals %> Hits, <%= pick.fantasypoints %> FP</div>
              </div>
            <% end %>
          <% end %>
          </div>
        <div class="totalFantasy">Total Fantasy Points: <%= @total %></div>
        </div>
      </div>
      <% end %>
    </div>

      <% @total = 0 %>
      <% @userPicks.each do |player| %>
        <% pick = DraftedPlayer.where(player_id: player.id)[0] %>
        <% if pick.fantasypoints != nil %>
          <% @total += pick.fantasypoints %>
        <% end %>
      <% end %>

    <div class="col-md-6">
      <div class="container-fluid">
        <div class="row">
          <div class="panel" style="margin-bottom:75px;">
            <div class="header1" style="z-index:0;">
            <h3>Scores</h3>


            <div id="wrapper" style="padding-top:118px;">
                  <div class="first">
                    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 100%; height: 35px; margin: 0px; overflow: hidden;"><dl id="ticker-1" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; margin: 0px; width: 7276px; height: 35px; z-index: auto;">


                    <% @scoreBoard.each do |scores| %>
                        <dt><%= scores[0] %>:<%= scores[1] %> - <%= scores[2] %>:<%= scores[3] %></dt>
                    <% end -%>

                  </dl></div>
                  </div>
                </div>

            </div>
          </div>
        </div>


  <div class="row">
    <div class="panel">

      <% if @winners != nil %>

        <div class="header1" style="z-index:0;">
          <h3>Winners</h3>
        </div>

        <% count = 0 %>
        <% @winners.each do |winner| %>
          <div class="userslistitem2">
            <% count += 1 %>
            <%= "#{count})  #{winner[:username]}" %>
          </div>
        <% end %>

      </div>
      </div>
      </div>
      </div>

      <% else %>



      <div class="header1" style="z-index:0;">
        <h3>Users In Game</h3>
      </div>
        <% count = 0 %>
        <% userscores = [] %>
       <% @userList.each do |user| %>
          <% allUsersPicks = DraftPick.where(user_id: user.id)%>
          <% fantasyScore = 0%>
          <% allUsersPicks.each do |pick|%>
          <%   searchDraftedPlayer = DraftedPlayer.where(id: pick.drafted_player_id, game_id: @game.id)[0]%>
          <%   if searchDraftedPlayer != nil && searchDraftedPlayer.fantasypoints != nil %>
          <%     fantasyScore += searchDraftedPlayer.fantasypoints %>
          <%   end %>
          <% end %>
          <% userscores.push(:user => user, :score => fantasyScore) %>
        <% end %>
        <% userscores.sort_by! { |hsh| hsh[:score]}.reverse! %>



          <% userscores.each do |user| %>
          <div class="userslistitem23">
            <% count += 1 %>
            <% userID = user[:user].id %>
            <% usersUserName = user[:user].username %>
            <%= "#{count}) " %><%= link_to "#{usersUserName}", "#my-picks#{userID}", :data => {:toggle => "modal"}, :user => user[:user] %> Points: <%= user[:score] %>
          </div>



      </div>
    </div>

  </div>
</div>

      <div class="modal fade" id="my-picks<%= "#{userID}" %>" role="dialog">
        <div class="modal-dialog" style="width:654px;">
          <div class="modal-content">
            <div class="modal-body" style="height: 529px; padding-top: 0px;">
              <div style="padding-top:30px;">
                <%= gravatar_for user[:user] %>
              </div>

              <div class="header-bar">
                <h1><%= user[:user].username %></h1>
                <h2><span style="color: #accf1f; font-size:13px;">Member since: <%= user[:user].created_at.strftime('%d %b') %></span></h2>
              </div>

              <% theUsersPicks = Game.getUsersPicks(user[:user].id, @game.id) %>
              <% @userTotal = 0 %>

              <div class="content">
                <div class="panel" style="width:87%; float:left;">
                  <div class="header1">
                    <h3>Picks</h3>
                    <div class="containerofusers">
                      <% theUsersPicks.each do |pickplayer| %>
                        <% pick = DraftedPlayer.where(player_id: pickplayer.id)[0] %>
                        <% if pick.fantasypoints != nil %>
                          <% @userTotal += pick.fantasypoints %>
                        <% end %>
                        <div class="userslistitem"><p><%= pickplayer.player_name %> - <%= pick.fantasypoints %></p></div>
                      <% end %>
                      <div class="userslistitem" style="background-color:#accf1f;"><p style="color:black;">Total Points: <%= @userTotal %></p></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>




</div>



