<style type="text/css">
.radioButton {
    float:left;
    width:375px;
    height:70px;
    line-height:20px;
    text-align:center;
    background: #ccc;
    margin:2px;
    cursor:pointer;
    margin-bottom: 10px;
}
.versus-box {
    float:left;
    width:50px;
    height:70px;
    line-height:20px;
    text-align:center;
    vertical-align: middle;
    background: #fcc700;
    color: #000;
    margin:2px;
    margin-bottom: 10px;
}

.radioButton img{
    height:70px;
}

.p-img-left{
  float: left;
}

.p-img-right{
  float: right;
}

.p-info {
  color: #000;
}

.pickem {
    margin: 0 auto;
    width: 820px;
    height: 410px;
}

div.selected {
    background: #2a6496;
}

</style>
<div class="container">
  <center><h2>Who will score more <a href="#fp-scoring" data-toggle="modal">Fantasy Points</a> in each matchup today?</h2></center><br />

  <div class="pickem">
  <%= form_tag("/draft_picks", method: "post", :id => "myform")  %>
    <div class="tier1">
      <%= render 'games/pair_select', :tier_num => 0, :draft_a => @drafted_players[0], :draft_b => @drafted_players[1] %>
    </div>

    <div class="tier2">
      <%= render 'games/pair_select', :tier_num => 1, :draft_a => @drafted_players[2], :draft_b => @drafted_players[3] %>
    </div>

    <div class="tier3">
      <%= render 'games/pair_select', :tier_num => 2, :draft_a => @drafted_players[4], :draft_b => @drafted_players[5] %>
    </div>

    <div class="tier4">
      <%= render 'games/pair_select', :tier_num => 3, :draft_a => @drafted_players[6], :draft_b => @drafted_players[7] %>
    </div>

    <div class="tier5">
      <%= render 'games/pair_select', :tier_num => 4, :draft_a => @drafted_players[8], :draft_b => @drafted_players[9] %>
    </div>

    <div class="tie">
      <% tieplayer = Player.where(id: @drafted_players[10].player_id)[0] %>
      <p>How many points will <%= tieplayer.player_name %> get? <input type="text" name="tiebreaker"></p>
    </div>
  </div>

  <center><%= submit_tag( "Choose My Players", class: "btn-primary" ) %>
    <div class="game-countdown counter" data-start-time="<%= @game.start_time.to_i %>"></div>
  </center>

  <div class="modal fade" id="fp-scoring" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>HOW FANTASY POINTS ARE CALCULATED</h4>
          <h4>NBA</h4>
          <ul>
            <li>Point = 1</li>
            <li>Rebound = 1.25</li>
            <li>Assist = 1.5</li>
            <li>Block = 2</li>
            <li>Steal = 2</li>
            <li>Turnover = -1</li>
          </ul>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
$(document).ready(function(){
  $('#myform').on('submit', function (e) {
      e.preventDefault()
      if($('input[type=radio]:checked').size() < 5) {
          console.log("test")
          alert("Test Alert for now: Must choose 5 players...")
      } else {
          document.getElementById("myform").submit()
      }
  })
});

$(".pickem :radio").hide().click(function(e){
    e.stopPropagation();
});

$(".tier1 .radioButton").click(function(e){
    $(this).closest(".tier1").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier2 .radioButton").click(function(e){
    $(this).closest(".tier2").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier3 .radioButton").click(function(e){
    $(this).closest(".tier3").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier4 .radioButton").click(function(e){
    $(this).closest(".tier4").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier5 .radioButton").click(function(e){
    $(this).closest(".tier5").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});
</script>

<script type="text/javascript">
<% @selection_ids && @selection_ids.each do |drafted_player_id| %>
    $("[value=<%= drafted_player_id %>]").prop("checked", true).parent().addClass("selected");
<% end %>
</script>

<script type="text/javascript">
$('.game-countdown').each(function (idx, elem) {
  var gameTimeSecondsString = $(elem).data('start-time');
  var gameTimeSecondsInteger = parseInt(gameTimeSecondsString,10);
  var gameTime = new Date(Number(gameTimeSecondsInteger) * 1000);
  $(elem).countdown({until: gameTime, onExpiry: countdownEnd, layout: '{hn}:{mn}:{sn}'});
});
function countdownEnd() {
  window.location.replace("/games/live?id=<%= @game.id %>");}
</script>
