<style type="text/css">
.radioButton {
    float:left;
    width:400px;
    height:70px;
    line-height:20px;
    text-align:center;
    background: #ccc;
    margin:2px;
    cursor:pointer;
    margin-bottom: 10px;
}

.radioButton img{
    height:70px;
}

.pickem {
    margin: 0 auto;
    width: 820px;
    height: 410px;
}

div.selected {
    background:#00cc00;
}
</style>

<center><h1>Choose Your Players</h1></center>

<div class="pickem">
<%= form_tag("/draft_picks", method: "post", :id => "myform")  %>
    <div class="tier1">
      <div class="radioButton"><input type="radio" name="tier1" value="<%= @drafted_player1.id.to_i %>" /><img src="<%= @player1.picture %>"><%= @player1.player_name %></div>
      <div class="radioButton"><input type="radio" name="tier1" value="<%= @drafted_player2.id.to_i %>" /><img src="<%= @player2.picture %>"><%= @player2.player_name %></div>
    </div>

    <div class="tier2">
      <div class="radioButton"><input type="radio" name="tier2" value="<%= @drafted_player3.id.to_i %>" /><img src="<%= @player3.picture %>"><%= @player3.player_name %></div>
      <div class="radioButton"><input type="radio" name="tier2" value="<%= @drafted_player4.id.to_i %>" /><img src="<%= @player4.picture %>"><%= @player4.player_name %></div>
    </div>

    <div class="tier3">
      <div class="radioButton"><input type="radio" name="tier3" value="<%= @drafted_player5.id.to_i %>" /><img src="<%= @player5.picture %>"><%= @player5.player_name %></div>
      <div class="radioButton"><input type="radio" name="tier3" value="<%= @drafted_player6.id.to_i %>" /><img src="<%= @player6.picture %>"><%= @player6.player_name %></div>
    </div>

    <div class="tier4">
      <div class="radioButton"><input type="radio" name="tier4" value="<%= @drafted_player7.id.to_i %>" /><img src="<%= @player7.picture %>"><%= @player7.player_name %></div>
      <div class="radioButton"><input type="radio" name="tier4" value="<%= @drafted_player8.id.to_i %>" /><img src="<%= @player8.picture %>"><%= @player8.player_name %></div>
    </div>

    <div class="tier5">
      <div class="radioButton"><input type="radio" name="tier5" value="<%= @drafted_player9.id.to_i %>" /><img src="<%= @player9.picture %>"><%= @player9.player_name %></div>
      <div class="radioButton"><input type="radio" name="tier5" value="<%= @drafted_player10.id.to_i %>" /><img src="<%= @player10.picture %>"><%= @player10.player_name %></div>
    </div>

</div>

<center><%= submit_tag( "Choose My Players", class: "btn-primary" ) %></center>



<script type="text/javascript">
$(document).ready(function(){
  $('#myform').on('submit', function (e) {
      e.preventDefault()
      if($('input[type=radio]:checked').size() < 5) {
          console.log("test")
          alert("Test Alert for now: Must choose 5 players...")
      } else {
          document.getElementById("myform").submit()
      }
  })
});

$(".pickem :radio").hide().click(function(e){
    e.stopPropagation();
});

$(".tier1 .radioButton").click(function(e){
    $(this).closest(".tier1").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier2 .radioButton").click(function(e){
    $(this).closest(".tier2").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier3 .radioButton").click(function(e){
    $(this).closest(".tier3").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier4 .radioButton").click(function(e){
    $(this).closest(".tier4").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier5 .radioButton").click(function(e){
    $(this).closest(".tier5").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});
</script>
