<style type="text/css">
.radioButton {
    float:left;
    width:400px;
    height:70px;
    line-height:20px;
    text-align:center;
    background: #ccc;
    margin:2px;
    cursor:pointer;
    margin-bottom: 10px;
}

.radioButton img{
    height:70px;
}

.pickem {
    margin: 0 auto;
    width: 820px;
    height: 410px;
}

div.selected {
    background:#00cc00;
}
</style>

<center><h1>Choose Your Players</h1></center>

<div class="pickem">
<%= form_tag("/draft_picks", method: "post", :id => "myform")  %>
    <div class="tier1">
        <% @tier1.each do |playerdrafted| %>
          <% drafted_player = DraftedPlayer.find(playerdrafted.id) %>
          <% player = Player.find(drafted_player.player_id) %>
            <div class="radioButton"><input type="radio" name="tier1" value="<%=drafted_player.id.to_i %>" /><img src="<%= player.picture %>"><%= player.player_name %></div>
        <% end %>
    </div>
    <div class="tier2">
        <% @tier2.each do |playerdrafted| %>
          <% drafted_player = DraftedPlayer.find(playerdrafted.id) %>
          <% player = Player.find(drafted_player.player_id) %>
            <div class="radioButton"><input type="radio" name="tier2" value="<%=drafted_player.id.to_i %>" /><img src="<%= player.picture %>"><%= player.player_name %></div>
        <% end %>
    </div>
    <div class="tier3">
        <% @tier3.each do |playerdrafted| %>
          <% drafted_player = DraftedPlayer.find(playerdrafted.id) %>
          <% player = Player.find(drafted_player.player_id) %>
            <div class="radioButton"><input type="radio" name="tier3" value="<%=drafted_player.id.to_i %>" /><img src="<%= player.picture %>"><%= player.player_name %></div>
        <% end %>
    </div>
    <div class="tier4">
        <% @tier4.each do |playerdrafted| %>
          <% drafted_player = DraftedPlayer.find(playerdrafted.id) %>
          <% player = Player.find(drafted_player.player_id) %>
            <div class="radioButton"><input type="radio" name="tier4" value="<%=drafted_player.id.to_i %>" /><img src="<%= player.picture %>"><%= player.player_name %></div>
        <% end %>
    </div>
    <div class="tier5">
        <% @tier5.each do |playerdrafted| %>
          <% drafted_player = DraftedPlayer.find(playerdrafted.id) %>
          <% player = Player.find(drafted_player.player_id) %>
            <div class="radioButton"><input type="radio" name="tier5" value="<%=drafted_player.id.to_i %>" /><img src="<%= player.picture %>"><%= player.player_name %></div>
        <% end %>
    </div>
</div>
<center><%= submit_tag( "Choose My Players", class: "btn-primary" ) %></center>



<script type="text/javascript">
$(document).ready(function(){
  $('#myform').on('submit', function (e) {
      e.preventDefault()
      if($('input[type=radio]:checked').size() < 5) {
          console.log("test")
          alert("Test Alert for now: Must choose 5 players...")
      } else {
          document.getElementById("myform").submit()
      }
  })
});

$(".pickem :radio").hide().click(function(e){
    e.stopPropagation();
});

$(".tier1 .radioButton").click(function(e){
    $(this).closest(".tier1").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier2 .radioButton").click(function(e){
    $(this).closest(".tier2").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier3 .radioButton").click(function(e){
    $(this).closest(".tier3").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier4 .radioButton").click(function(e){
    $(this).closest(".tier4").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier5 .radioButton").click(function(e){
    $(this).closest(".tier5").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});
</script>
