<style type="text/css">
.radioButton {
    float:left;
    width:400px;
    height:70px;
    line-height:20px;
    text-align:center;
    background: #ccc;
    margin:2px;
    cursor:pointer;
    margin-bottom: 10px;
}

.radioButton img{
    height:70px;
}

.pickem {
    margin: 0 auto;
    width: 820px;
    height: 410px;
}

div.selected {
    background:#00cc00;
}
</style>

<center><h1>Choose Your Players</h1></center>

<div class="pickem">
<%= form_tag("/draft_picks", method: "post", :id => "myform")  %>
  <div class="tier1">
    <%= render 'games/pair_select', :tier_num => 0, :draft_a => @drafted_players[0], :draft_b => @drafted_players[1] %>
  </div>

  <div class="tier2">
    <%= render 'games/pair_select', :tier_num => 1, :draft_a => @drafted_players[2], :draft_b => @drafted_players[3] %>
  </div>

  <div class="tier3">
    <%= render 'games/pair_select', :tier_num => 2, :draft_a => @drafted_players[4], :draft_b => @drafted_players[5] %>
  </div>

  <div class="tier4">
    <%= render 'games/pair_select', :tier_num => 3, :draft_a => @drafted_players[6], :draft_b => @drafted_players[7] %>
  </div>

  <div class="tier5">
    <%= render 'games/pair_select', :tier_num => 4, :draft_a => @drafted_players[8], :draft_b => @drafted_players[9] %>
  </div>
</div>

<center><%= submit_tag( "Choose My Players", class: "btn-primary" ) %></center>



<script type="text/javascript">
$(document).ready(function(){
  $('#myform').on('submit', function (e) {
      e.preventDefault()
      if($('input[type=radio]:checked').size() < 5) {
          console.log("test")
          alert("Test Alert for now: Must choose 5 players...")
      } else {
          document.getElementById("myform").submit()
      }
  })
});

$(".pickem :radio").hide().click(function(e){
    e.stopPropagation();
});

$(".tier1 .radioButton").click(function(e){
    $(this).closest(".tier1").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier2 .radioButton").click(function(e){
    $(this).closest(".tier2").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier3 .radioButton").click(function(e){
    $(this).closest(".tier3").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier4 .radioButton").click(function(e){
    $(this).closest(".tier4").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});

$(".tier5 .radioButton").click(function(e){
    $(this).closest(".tier5").find("div").removeClass("selected");
    $(this).addClass("selected").find(":radio").click();
});
</script>

<script type="text/javascript">
<% @selection_ids && @selection_ids.each do |drafted_player_id| %>
    $("[value=<%= drafted_player_id %>]").prop("checked", true).parent().addClass("selected");
<% end %>
</script>
