<!DOCTYPE html>
<html>
<head>
  <title>FanClash</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'partials/navbar' %>

  <%= yield %>

  <%= render 'partials/footer' %>
</body>
</html>
