<!DOCTYPE html>
<html>
<head>
  <title>FanClash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <% if user_signed_in? %>
          <%= link_to "FanClash", #profile_path, class: 'navbar-brand' %>
        <% else %>
          <%= link_to "FanClash", #root_path, class: 'navbar-brand' %>
        <% end %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar">
					<% if user_signed_in? %>
						<li><%= link_to "My Games", #games_path %></li>
					<% end %>
				</ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
						<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
						<li><%= link_to "Log Out", logout_path %></li>
					<% else %>
						<li><%= link_to "Register", register_path %></li>
						<li><%= link_to "Log in", login_path %></li>
					<% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

<%= yield %>

</body>
</html>
